
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

/*body
{
	line-height:1.5;
}
*/

#buttonToolbar
{
	padding-left:130px;
}
#buttonToolbar a
{
	margin-left:5px;
}

#cloudContainer
{
	width:50%;
	margin-left:30px;
}

#preamble
{
	margin-left: 30px; 
	padding: 0px; 
	color:#317eac;
	font-size:110%;
}

.iconContainer
{
	height:20px;
	width:20px;
}
.iconHref a
{
	display:inline;
}

.divider {
   display: block;
	width:90px;
   min-height: 1em;
   margin-left: 55px;
	margin-top:.5em;
	margin-bottom:.5em;
   border-left: 1px solid gray;
}

a {
  /*color: #157ab5;*/
  color: #000;
  text-decoration: none;
  /* font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size:80%;
  */
}

a:hover,
a:focus {
  color: #2fa4e7;
  text-decoration: underline;
}


.visitItem
{
	list-style: none;
}

ul { 
	margin-left: 10px; 
	padding: 0px; 
}

.dateHeader {
   display: block;
	/*text-align:center;*/
	font-family: 'open sans',arial,sans-serif;
	/*margin-left:10px;*/
	margin-top:1.5em;
	margin-bottom:.7em;
}

.visitTime {
	display:inline-block;
	width:80px;
	text-overflow: ellipsis;
	text-align:right;
	font-family: 'open sans',arial,sans-serif;
	font-size:90%;
	color: #9c9c9c;
	overflow:hidden;
	margin-left:10px;
}

.title {
-webkit-padding-start: 20px;*/
}

.google { background-image: url('favicons/google.ico'); background-repeat: no-repeat; padding-left:20px;   } 
.play { background-image: url('favicons/playgoogle.ico'); background-repeat: no-repeat; padding-left:20px;} 
.googlegroups { background-image: url('favicons/googlegroups.ico'); background-repeat: no-repeat; padding-left:20px;}
.msdn { background-image: url('favicons/msdn.png'); background-repeat: no-repeat; padding-left:20px;}
.android { background-image: url('favicons/android.ico'); background-repeat: no-repeat; padding-left:20px;}  
.jquery { background-image: url('favicons/jquery.ico'); background-repeat: no-repeat; padding-left:20px;}
.stackoverflow { background-image: url('favicons/stackoverflow.ico'); background-repeat: no-repeat;padding-left:20px; }
.knockoutjs { background-image: url('favicons/knockoutjs.png'); background-repeat: no-repeat; padding-left:20px;}
.eclipse { background-image: url('favicons/eclipse.ico'); background-repeat: no-repeat; padding-left:20px; }

