

.google { background-image: url('favicons/google.ico'); background-repeat: no-repeat; padding-left: 30px;  display: block; } 
.play { background-image: url('favicons/playgoogle.ico'); background-repeat: no-repeat; padding-left: 30px;  display: block; } 
.googlegroups { background-image: url('favicons/googlegroups.ico'); background-repeat: no-repeat; padding-left: 30px;  display: block; } 
.msdn { background-image: url('favicons/msdn.png'); background-repeat: no-repeat; padding-left: 30px;  display: block; } 
.android { background-image: url('favicons/android.ico'); background-repeat: no-repeat; padding-left: 30px;  display: block; } 
.jquery { background-image: url('favicons/jquery.ico'); background-repeat: no-repeat; padding-left: 30px;  display: block; } 
.stackoverflow { background-image: url('favicons/stackoverflow.ico'); background-repeat: no-repeat; padding-left: 30px;  display: block; } 
